<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>TEST</title>
</head>
<body>
    <div class="container">
        <h1 style="text-align: center">HELLO WORD</h1>
        <h2 style="color: red">Żeby uruchomć alplikację napisaną w JAVA v17</h2>
        <p>CATALINA_HOME - D:\DB\apache-tomcat-10.1.11</p>
        <p>CATALINA_BASE - D:\DB\apache-tomcat-10.1.11</p>
        <p>JAVA_HOME - C:\Program Files\Java\jdk-17</p>
        <b><p>TEST 2023-07-31</p></b>
    </div>
</body>
</html>